@import "../../../../styles/breakpoints.scss";

.get_a_quote_form {
    display: inline-flex;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #00000055;
    display: grid;
    padding: 32px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    row-gap: 16px;

    @include within_breakpoint($extra_small_breakpoint) {
        padding: 16px;
        grid-template-columns: 1fr;
    }

    h3 {
        margin-bottom: 32px;
        grid-column: 1 / -1;
    }
    
    label {
        margin-top: 16px;
        margin-bottom: 8px;

        &:first-child {
            margin-top: 0px;
        }

        @include within_breakpoint($medium_breakpoint) {
            text-align: start;
        }
    }

    input {
        color: black;
        min-width: unset;
        max-width: 256px;

        @include within_breakpoint($extra_small_breakpoint) {
            max-width: unset;
        }
    }

    button, input[type=submit] {
        margin-top: 32px;
    }        

    input:not([type=checkbox]) {
        background-color: white;
        outline: 1px solid #47c6c8;
        min-height: 32px;
    }

    .left_grid_cell {
        display: flex;
        flex-direction: column;

        label {
            margin-top: 64px;

            @include within_breakpoint($extra_small_breakpoint) {
                margin-top: 16px;
            }

            &:first-child {
                margin-top: 0px;
            }
        }
    }

    .right_grid_cell {
        display: flex;
        flex-direction: column;

        .choose_your_issues_heading {
            margin-top: 32px;
            font-size: 1.3rem;
        }
    
        .checkboxes_area {
            display: inline-flex;
            flex-direction: column;
    
            @include within_breakpoint($extra_small_breakpoint) {
                margin-left: auto;
                margin-right: auto;
            }
            
    
            .checkbox_with_label_container {
                margin-top: 8px;
                display: inline-flex;
                align-items: center;        
    
                label {
                    margin: 0px;
                    margin-left: 8px;
                }
            }
        }

        button {
            min-width: unset;
            min-height: unset;            
        }
    }    
}