@import "../../../styles/navbar.scss";
@import "../../../styles/breakpoints.scss";

.sales_lead_section {
    margin-top: $navbar_height;
    display: grid;
    grid-template-columns: 4fr 6fr;

    @include within_breakpoint($extra_small_breakpoint) {
        grid-template-columns: 1fr;
    }    
    
    .left_grid_cell {
        display: flex;
        background-color: #47c6c8;
        padding: 32px;
        flex-direction: column;
        align-items: center;
        color: white;

        h2 {
            margin-top: 32px;

            .service_center_count_container {            
                $dimensions: 48px;
    
                margin-right: 8px;
                display: inline-flex;
                height: $dimensions;
                width: $dimensions;
                border-radius: 3000px;
                background-color: #07e5ca;
                justify-content: center;
                align-items: center;
            }
            
        }        

        .repair_repair_image {
            height: auto;
            max-width: 256px;
            // transform: translate(50%, 0px);
            pointer-events: none;

            @include within_breakpoint($extra_small_breakpoint) {
                transform: unset;
                max-width: 100%;
            }
        }

        .selling_points_grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 64px;

            @include within_breakpoint($extra_small_breakpoint) {
                grid-template-columns: 1fr;
            }

            .grid_cell {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: auto;
                    height: 128px;
                }
                
                p {
                    margin-top: 16px;
                    font-weight: 900;
                    font-size: 24px;
                }
            }
        }
    }

    .right_grid_cell {
        position: relative;
        background-color: #0c2627;
        padding: 64px;
        padding-left: 256px;

        @include within_breakpoint($extra_small_breakpoint) {
            padding: 32px;
        }

        .background_image {
            position: absolute;
            left: 0px;
            top: 30%;
            width: auto;
            height: 360px;
            object-fit: cover;
            // filter: brightness(50%);
            transform: translate(0px, -50%);

            @include within_breakpoint($extra_small_breakpoint) {
                display: none;
            }
        }

        @include within_breakpoint($extra_small_breakpoint) {
            padding: 16px;
        }

        .get_a_quote_form {
            position: relative;
            z-index: 1;
            background-color: white;
        }
    }
}