@import "colors.scss";
@import "breakpoints.scss";

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;

  @include within_breakpoint($small_breakpoint) {
    overflow-x: hidden;
    text-align: center;
  }
}

a {
  color: $primary_color;
  text-decoration: none;
  
  &:hover {
    color: $primary_color_variant;
  }
}

h1, h2, h3, h4, h5, h6, p { 
  margin: 0px;
}

h1 {
  font-family: poppins, lato, sans-serif;
  font-size: 42px;
  
  @include within_breakpoint($extra_small_breakpoint) {
    font-size: 28px;
  }
}

h2 {
  font-family: lato;
  font-size: 28px;
  font-weight: 300;
  
  @include within_breakpoint($extra_small_breakpoint) {
    font-size: 24px;
  }
}

strong {
  color: $primary_color;
}

button {
  min-width: 128px;
  border: none;
  border-radius: 8px;
  background-color: $primary_color;
  padding: 16px;
  font-family: lato, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  transition: background-color 100ms;

  &:hover {
    background-color: #237374;
    cursor: pointer;
  }
}

input {
  min-height: 56px;
  border-radius: 8px;
  border: none;  
  background-color: $primary_color;
  padding-left: 16px;
  color: white;
  font-size: 20px;
  transition: background-color 100ms;  

  &[type=checkbox] {
    min-height: unset;
  }

  &:focus {
    background-color: #237374;
  }

  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
  }
}

table {
  border-collapse: collapse;    

  tr {
    th, td {
      border: 1px solid #CCCCCC;
      padding: 8px 16px;
    }    
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;

  @include within_breakpoint($large_breakpoint) {
    max-width: 960px;
  }
  
  @include within_breakpoint($medium_breakpoint) {
    max-width: 720px;
  }

  @include within_breakpoint($small_breakpoint) {
    max-width: 540px;
  }

  @include within_breakpoint($extra_small_breakpoint) {
    max-width: 100%;
  }
}