@import "breakpoints.scss";
@import "colors.scss";

$navbar_height: 80px;

.navbar {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 10;
    display: flex;
    height: $navbar_height;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    transition: opacity 100ms;

    @include within_breakpoint($extra_small_breakpoint) {
        position: initial;
        z-index: initial;
        left: initial;
        right: initial;
        top: initial;
    }

    .logo {        
        height: 100%;
        padding: 8px;
        object-fit: contain;
    }    

    nav {
        a {
            margin-left: 64px;
            font-weight: bold;

            &:first-child {
                margin-left: 0px;
            }
        }

        @include within_breakpoint($small_breakpoint) {
            display: none;
        }
    }
}

.hero_section {
    margin-top: $navbar_height;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 64px;
    padding-right: 64px;
    align-items: center;

    @include within_breakpoint($small_breakpoint) {
        padding-left: 0px;
        padding-right: 0px;
    }

    @include within_breakpoint($extra_small_breakpoint) {
        margin-top: initial;
        flex-direction: column;
    }
    
    .text_area {
        flex-basis: 0;
        flex-shrink: 0;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        @include within_breakpoint($extra_small_breakpoint) {
            width: initial;
        }

        .text_container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 2em;
            
            @include within_breakpoint($small_breakpoint) {
                align-items: center;                
            }

            h1 {
                max-width: 400px;

                @include within_breakpoint($extra_small_breakpoint) {
                    max-width: none;
                }
            }

            h2 {
                margin-top: 32px;
                max-width: 480px;
            }

            button {
                margin-top: 32px;
            }
        }        
    }

    .image_container {
        flex-shrink: 0;
        width: 50%;
        position: relative;
        height: 80vh;
        overflow: hidden;

        @include within_breakpoint($extra_small_breakpoint) {
            margin-top: 32px;
            height: 100vw;
            width: 100vw;
        }

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.why_us_section {
    display: flex;
    padding-top: 64px;
    padding-bottom: 64px;
    flex-direction: column;
    align-items: center;

    .details_grid {
        margin-top: 64px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 128px;

        @include within_breakpoint($extra_small_breakpoint) {
            grid-template-columns: 1fr;
        }

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;

            .icon {
                flex-shrink: 0;
            }

            p {
                margin-top: 16px;
            }
        }
    }
}

.our_services_section {
    display: flex;
    padding-top: 64px;
    padding-bottom: 64px;
    flex-direction: column;
    align-items: center;
    text-align: center;    

    .services_area {
        margin-top: 64px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;

        @include within_breakpoint($small_breakpoint) {
            margin-top: 32px;
            grid-template-columns: 1fr;
        }

        .service_card {
            display: flex;
            border-radius: 8px;
            border: #cccccc solid 1px;
            overflow: hidden;

            @include within_breakpoint($extra_small_breakpoint) {
                flex-direction: column;
            }
            
            .image {
                flex-shrink: 0;
                width: 256px;
                height: 256px;

                @include within_breakpoint($extra_small_breakpoint) {
                    width: 100%;
                }
            }
    
            .content {
                display: flex;
                padding: 32px;                
                flex-direction: column;
                justify-content: center;
                align-items: center;

                button {
                    margin-top: 32px;
                }
            }
        }
    }
}

.special_offers_section {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 128px;
    padding-bottom: 128px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: white;
    overflow: hidden;

    @include within_breakpoint($extra_small_breakpoint) {
        align-items: center;
    }

    .background_image {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 200%;
        // filter: brightness(0.8);
        content: "";
        z-index: -1;
    }

    h2 {
        margin-top: 32px;
    }

    button {
        margin-top: 32px;
    }
}

.contact_us_section {
    padding-top: 64px;
    padding-bottom: 64px;

    h1 {
        color: $primary_color;
    }

    .submit_contact_details_form {
        margin-top: 16px;
        display: flex;
        align-items: center;

        .input_fields_area {
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;            

            @include within_breakpoint($small_breakpoint) {
                grid-template-columns: 1fr;
            }

            .input_field_container {
                text-align: start;

                p {
                    display: inline-flex;
                }

                input {
                    margin-top: 8px;
                    width: 100%;
                }
            }

            .social_media_icons_container {
                display: flex;
                justify-content: center;
                
                .social_media_icon {
                    margin-left: 32px;                    
                    transition: transform 300ms;
    
                    &:first-child {
                        margin-left: 0px !important;
                    }

                    &:hover {
                        transform: scale(1.3);
                    }
                }            
            }
        }        

        .image_container {
            margin-left: 64px;

            @include within_breakpoint($small_breakpoint) {
                display: none;
            }
        }
    }

    .locations_area {
        margin-top: 128px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 32px;

        @include within_breakpoint($small_breakpoint) {
            margin-top: 64px;
            grid-template-columns: repeat(2, 1fr);
        }

        @include within_breakpoint($extra_small_breakpoint) {
            display: none;
        }

        .location_container {
            display: flex;
            
            @include within_breakpoint($small_breakpoint) {
                justify-content: center;
            }

            .icon_container {
                width: 32px;
                height: 32px;
                border-radius: 3000px;
                background-color: $primary_color_variant;
                padding: 8px;

                .icon {
                    width: 100%;
                    height: 100%;
                }
            }

            .address {
                margin-left: 16px;
            }
        }
    }
}

.footer {
    margin-top: 8px;
    margin-bottom: 64px;
    text-align: center;
}

.colored_banner {
    display: flex;
    background-color: $primary_color;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;

    @include within_breakpoint($extra_small_breakpoint) {
        padding-left: 16px;
        padding-right: 16px;
        flex-direction: column;
    }

    h2 {
        margin-left: 32px;
        max-width: 45vw;

        @include within_breakpoint($extra_small_breakpoint) {
            margin-left: inherit;
            margin-top: 32px;
            max-width: none;
        }
    }
}