@import "./breakpoints.scss";
@import "./navbar.scss";

.navbar {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 10;
    display: flex;
    height: $navbar_height;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    transition: opacity 100ms;

    @include within_breakpoint($extra_small_breakpoint) {
        position: initial;
        z-index: initial;
        left: initial;
        right: initial;
        top: initial;
    }

    .logo_container {
        display: inline-flex;
        height: 90%;

        .logo {
            height: 100%;
            object-fit: contain;
        }
    }    

    nav {
        a {
            margin-left: 64px;
            font-weight: bold;

            &:first-child {
                margin-left: 0px;
            }
        }

        @include within_breakpoint($small_breakpoint) {
            display: none;
        }
    }
}